/* Does not need a space because object is a direct child of aura:component */
.THIS.board {
    background: #f7fafc;
    position: relative;
}

/* Requires space between .THIS and .win-word because object is NOT a direct child of aura:component */
.THIS .win-word {
    text-transform: uppercase;
    font-weight: bold;
}

.THIS .board-disabled {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: not-allowed;
}
